.galleryitem {
   width: 400px;
   height: 400px;
   margin: 12px;
   transition: all 400ms ease-in-out;
}

.galleryitem:hover {
   transform: scale(1.05);
}

.galleryItemImage {
    width: 100%;
    height: 100%;
}

@media (max-width: 472px) {
 .galleryitem {
    width: 360px;
    height: 360px;
 }
}

@media (max-width: 412px) {
    .galleryitem {
       width: 320px;
       height: 320px;
    }
   }