.categoriesItem {
   transition: all 400ms ease-in-out;
}

.categoriesItem:hover {
    transform: scale(1.05);
}

.categoriesItemBorder {
    margin-bottom: 40px;
    border: 1px solid #CDAA7D;
    width: 396px;
    height: 300px;
    position: relative;
}

.categoriesItemContainer {
    top: 20px;
    right: 20px;
    width: 396px;
    height: 300px;
    position: absolute;
}

.categoriesItemImage {
    width: 100%;
    height: 100%;
}

.categoriesItemText {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}