.gallery {
    max-width: 1280px;
    margin: 0 auto;
}

.galleryTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.galleryFilters {
    width: 650px;
    margin: 80px auto 0;
}



.galleryFiltersList {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    width: auto;
}

.galleryFiltersListItem {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.galleryList {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 660px) {
    .galleryFilters {
        margin-top: 40px;
        width: auto;
    }
    .galleryFiltersListItem {
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 422px) {
    .galleryFiltersListItem {
        font-size: 18px;
    }
}

.galleryFiltersListItem::before,
.galleryFiltersListItem::after {
        content: "";
        pointer-events: none;
        position: absolute;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        bottom: 0%;
        right: 0%;
    }
    .galleryFiltersListItem::before {
        border-bottom-width: 1px;
    }

    .galleryFiltersListItem:hover {
        color: #CDAA7D;
    }
    .galleryFiltersListItem:hover::before,
    .galleryFiltersListItem:hover::after {
        border-color: #CDAA7D;
        transition: border-color 0s, width 0.3s, height 0.3s;
        width: 100%;
        height: 100%;
    }
    .galleryFiltersListItem:hover::before{
        transition-delay: 0s, 0s, 0.3s;
    }
    .galleryFiltersListItem:hover::after {
        transition-delay: 0s, 0.3s, 0s;
    }
