.partners {
    width: 1280px;
    margin: 0 auto;
    min-height: 462px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partnersItem {
    width: 80px;
    transition: all 400ms ease-in-out;
}

.partnersItem:hover {
    transform: scale(1.10);
}

.partnersItem:nth-child(3) {
    width: 160px;
}

.partnersImage {
    width: 100%;
}

@media (max-width: 1300px) {
   .partners {
        width: auto;
   }
}

@media (max-width: 600px) {
    .partners {
        margin: 100px 0;
        width: auto;
        flex-direction: column;
    }
    .partnersItem {
        margin: 30px auto;
    }
 }