.footer {
    width: 1280px;
    margin: 0 auto;
}

.styledHr {
    margin-top: 80px;
    background-color: white;
    height: 1px;
}

.footerContainer {
    margin-top: 80px;
    display: flex;
}

.footerColFirst {
    flex: 1;
}

.footerColFirstLogo {
    width: 60px;
    height: 60px;
}

.footerColFirstInfo {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 280px;
}

.footerColSecond,.footerColThird, .footerColFourth {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footerColTitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.footerColItem {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;
}
 
.iconInfo {
    margin-left: 20px;
}

.copyright {
    margin: 40px 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}