.contacts {
    width: 1280px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
}

.colOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.title {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
}

.titleItem {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.colTwo {
    width: 900px;
    height: 690px;
}

.contactsImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1300px) {
    .contacts {
        width: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .colOne {
        display: none;
    }
}

@media (max-width: 940px) {
    .colTwo {
        width: 700px;
        height: 760px;
    }
}

@media (max-width: 765px) {
    .colTwo {
        width: 500px;
        height: 560px;
    }
}

@media (max-width: 558px) {
    .colTwo {
        width: 340px;
        height: 400px;
    }
}